{% extends 'base.html' %}
{% block content %}
<div class="all-cards">
    <section class="articles">
        <article>
            <div class="article-wrapper">
                <figure class="has-text-centered">
                    <img src="{{ url_for('static', filename='images/destination.png')}}" width="220" height="220" />
                </figure>
                <div class="article-body">
                    <h2 class="has-text-primary is-size-4">CLUES (ZMT)</h2>
                    <div style="text-align:justify;">
                    <p><span class="has-text-success">Categoría: </span>Ubicación</p>
                    <p><span class="has-text-success">Idioma: </span>Español</p>
                    <p><span class="has-text-success">Estado: </span>Completo</p>
                    <p><span class="has-text-success">Representación: </span>Vectorial</p>
                    <p><span class="has-text-success">Restricciones legales: </span>Datos de acceso público</p>
                    <p><span class="has-text-success">EPSG: </span>4326</p>
                    <p><span class="has-text-success">Fecha de publicación: </span>01/12/2023</p>
                    <p><span class="has-text-success">Palabras clave: </span>CLUES, Unidades médicas, Servicios de salud</p>
                    <hr>
                    <a class="button is-info is-inverted is-outlined" href="http://localhost:8080/geoserver/accesibilidad_espacial/wms?service=WMS&version=1.1.0&request=GetMap&layers=accesibilidad_espacial%3ACLUES_BASE&bbox=-99.9195785522461%2C19.03080177307129%2C-99.39337158203125%2C19.54203224182129&width=768&height=746&srs=EPSG%3A4326&styles=&format=application/openlayers" target="_blank">WMS</a>
                    <a class="button is-info is-outlined" href="http://localhost:8080/geoserver/accesibilidad_espacial/wfs?service=WFS&version=1.0.0&request=GetFeature&typeName=accesibilidad_espacial:CLUES_BASE&outputFormat=application/json" target="_blank">GeoJSON</a>
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="article-wrapper">
                <figure class="has-text-centered">
                    <img src="{{ url_for('static', filename='images/destination.png')}}" width="220" height="220" />
                </figure>
                <div class="article-body">
                    <h2 class="has-text-primary is-size-4">AGEBS - Centroides (ZMT)</h2>
                    <div style="text-align:justify;">
                        <p><span class="has-text-success">Categoría: </span>Ubicación</p>
                        <p><span class="has-text-success">Idioma: </span>Español</p>
                        <p><span class="has-text-success">Estado: </span>Completo</p>
                        <p><span class="has-text-success">Representación: </span>Vectorial</p>
                        <p><span class="has-text-success">Restricciones legales: </span>Datos de acceso público</p>
                        <p><span class="has-text-success">EPSG: </span>4326</p>
                        <p><span class="has-text-success">Fecha de publicación: </span>01/12/2023</p>
                    <p><span class="has-text-success">Palabras clave: </span>AGEBS, Área Geoestadística Básica, ZMT, Toluca</p>
                    <hr>
                    <a class="button is-info is-inverted is-outlined" href="http://localhost:8080/geoserver/accesibilidad_espacial/wms?service=WMS&version=1.1.0&request=GetMap&layers=accesibilidad_espacial%3ALZMT_Puntos&bbox=-99.93560791015625%2C19.027807235717773%2C-99.3701400756836%2C19.53408432006836&width=768&height=687&srs=EPSG%3A4326&styles=&format=application/openlayers" target="_blank">WMS</a>
                    <a class="button is-info is-outlined" href="http://localhost:8080/geoserver/accesibilidad_espacial/wfs?service=WFS&version=1.0.0&request=GetFeature&typeName=accesibilidad_espacial:LZMT_Puntos&outputFormat=application/json" target="_blank">GeoJSON</a>
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="article-wrapper">
                <figure class="has-text-centered">
                    <img src="{{ url_for('static', filename='images/polygon.png')}}" width="220" height="220" />
                </figure>
                <div class="article-body">
                    <h2 class="has-text-primary is-size-4">AGEBS (ZMT)</h2>
                    <div style="text-align:justify;">
                        <p><span class="has-text-success">Categoría: </span>Ubicación</p>
                        <p><span class="has-text-success">Idioma: </span>Español</p>
                        <p><span class="has-text-success">Estado: </span>Completo</p>
                        <p><span class="has-text-success">Representación: </span>Vectorial</p>
                        <p><span class="has-text-success">Restricciones legales: </span>Datos de acceso público</p>
                        <p><span class="has-text-success">EPSG: </span>4326</p>
                        <p><span class="has-text-success">Fecha de publicación: </span>01/12/2023</p>
                    <p><span class="has-text-success">Palabras clave: </span>AGEBS, Área Geoestadística Básica, ZMT, Toluca</p>
                    <hr>
                    <a class="button is-info is-inverted is-outlined" href="http://localhost:8080/geoserver/accesibilidad_espacial/wms?service=WMS&version=1.1.0&request=GetMap&layers=accesibilidad_espacial%3ALZMT_Poligonos&bbox=-99.93754577636719%2C19.02328109741211%2C-99.36030578613281%2C19.54604148864746&width=768&height=695&srs=EPSG%3A4326&styles=&format=application/openlayers" target="_blank">WMS</a>
                    <a class="button is-info is-outlined" href="http://localhost:8080/geoserver/accesibilidad_espacial/wfs?service=WFS&version=1.0.0&request=GetFeature&typeName=accesibilidad_espacial:LZMT_Poligonos&outputFormat=application/json" target="_blank">GeoJSON</a>
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="article-wrapper">
                <figure class="has-text-centered">
                    <img src="{{ url_for('static', filename='images/polygon.png')}}" width="220" height="220" />
                </figure>
                <div class="article-body">
                    <h2 class="has-text-primary is-size-4">AGEBS evaluados (ADLM)</h2>
                    <div style="text-align:justify;">
                        <p><span class="has-text-success">Categoría: </span>Análisis Espacial</p>
                        <p><span class="has-text-success">Idioma: </span>Español</p>
                        <p><span class="has-text-success">Estado: </span>Completo</p>
                        <p><span class="has-text-success">Representación: </span>Vectorial</p>
                        <p><span class="has-text-success">Restricciones legales: </span>Datos de acceso público</p>
                        <p><span class="has-text-success">EPSG: </span>4326</p>
                        <p><span class="has-text-success">Fecha de publicación: </span>01/12/2023</p>
                    <p><span class="has-text-success">Palabras clave: </span>AGEBS, Área Geoestadística Básica, ZMT, Toluca</p>
                    <hr>
                    <a class="button is-info is-inverted is-outlined" href="http://localhost:8080/geoserver/accesibilidad_espacial/wms?service=WMS&version=1.1.0&request=GetMap&layers=accesibilidad_espacial%3ALZMT_POLIGONOS_VMC_EJ1&bbox=-99.9195785522461%2C19.03080177307129%2C-99.39337158203125%2C19.54203224182129&width=768&height=746&srs=EPSG%3A4326&styles=&format=application/openlayers" target="_blank">WMS</a>
                    <a class="button is-info is-outlined" href="http://localhost:8080/geoserver/accesibilidad_espacial/wfs?service=WFS&version=1.0.0&request=GetFeature&typeName=accesibilidad_espacial:LZMT_POLIGONOS_VMC_EJ1&outputFormat=application/json" target="_blank">GeoJSON</a>
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="article-wrapper">
                <figure class="has-text-centered">
                    <img src="{{ url_for('static', filename='images/polygon.png')}}" width="220" height="220" />
                </figure>
                <div class="article-body">
                    <h2 class="has-text-primary is-size-4">AGEBS descartados (ADLM)</h2>
                    <div style="text-align:justify;">
                        <p><span class="has-text-success">Categoría: </span>Análisis Espacial</p>
                        <p><span class="has-text-success">Idioma: </span>Español</p>
                        <p><span class="has-text-success">Estado: </span>Completo</p>
                        <p><span class="has-text-success">Representación: </span>Vectorial</p>
                        <p><span class="has-text-success">Restricciones legales: </span>Datos de acceso público</p>
                        <p><span class="has-text-success">EPSG: </span>4326</p>
                        <p><span class="has-text-success">Fecha de publicación: </span>01/12/2023</p>
                    <p><span class="has-text-success">Palabras clave: </span>AGEBS, Área Geoestadística Básica, ZMT, Toluca</p>
                    <hr>
                    <a class="button is-info is-inverted is-outlined" href="http://localhost:8080/geoserver/accesibilidad_espacial/wms?service=WMS&version=1.1.0&request=GetMap&layers=accesibilidad_espacial%3ALZMT_POLIGONOS_VMENC_EJ1&bbox=-99.9195785522461%2C19.03080177307129%2C-99.39337158203125%2C19.54203224182129&width=768&height=746&srs=EPSG%3A4326&styles=&format=application/openlayers" target="_blank">WMS</a>
                    <a class="button is-info is-outlined" href="http://localhost:8080/geoserver/accesibilidad_espacial/wfs?service=WFS&version=1.0.0&request=GetFeature&typeName=accesibilidad_espacial:LZMT_POLIGONOS_VMENC_EJ1&outputFormat=application/json" target="_blank">GeoJSON</a>
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="article-wrapper">
                <figure class="has-text-centered">
                    <img src="{{ url_for('static', filename='images/blank.png')}}" width="220" height="220" />
                </figure>
                <div class="article-body">
                    <h2 class="has-text-primary is-size-4">Líneas de conectividad (ADLM)</h2>
                    <div style="text-align:justify;">
                        <p><span class="has-text-success">Categoría: </span>Análisis Espacial</p>
                        <p><span class="has-text-success">Idioma: </span>Español</p>
                        <p><span class="has-text-success">Estado: </span>Completo</p>
                        <p><span class="has-text-success">Representación: </span>Vectorial</p>
                        <p><span class="has-text-success">Restricciones legales: </span>Datos de acceso público</p>
                        <p><span class="has-text-success">EPSG: </span>4326</p>
                        <p><span class="has-text-success">Fecha de publicación: </span>01/12/2023</p>
                    <p><span class="has-text-success">Palabras clave: </span>Conectividad, Spyder, Network Analysis</p>
                    <hr>
                    <a class="button is-info is-inverted is-outlined" href="http://localhost:8080/geoserver/accesibilidad_espacial/wms?service=WMS&version=1.1.0&request=GetMap&layers=accesibilidad_espacial%3ALINEAS_RO_EJ1&bbox=-99.9195785522461%2C19.03080177307129%2C-99.39337158203125%2C19.54203224182129&width=768&height=746&srs=EPSG%3A4326&styles=&format=application/openlayers" target="_blank">WMS</a>
                    <a class="button is-info is-outlined" href="http://localhost:8080/geoserver/accesibilidad_espacial/wfs?service=WFS&version=1.0.0&request=GetFeature&typeName=accesibilidad_espacial:LINEAS_RO_EJ1&outputFormat=application/json" target="_blank">GeoJSON</a>
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="article-wrapper">
                <figure class="has-text-centered">
                    <img src="{{ url_for('static', filename='images/destination.png')}}" width="220" height="220" />
                </figure>
                <div class="article-body">
                    <h2 class="has-text-primary is-size-4">CLUES (ADLM)</h2>
                    <div style="text-align:justify;">
                        <p><span class="has-text-success">Categoría: </span>Análisis Espacial</p>
                        <p><span class="has-text-success">Idioma: </span>Español</p>
                        <p><span class="has-text-success">Estado: </span>Completo</p>
                        <p><span class="has-text-success">Representación: </span>Vectorial</p>
                        <p><span class="has-text-success">Restricciones legales: </span>Datos de acceso público</p>
                        <p><span class="has-text-success">EPSG: </span>4326</p>
                        <p><span class="has-text-success">Fecha de publicación: </span>01/12/2023</p>
                    <p><span class="has-text-success">Palabras clave: </span>CLUES, Unidades médicas, Servicios de salud</p>
                    <hr>
                    <a class="button is-info is-inverted is-outlined" href="http://localhost:8080/geoserver/accesibilidad_espacial/wms?service=WMS&version=1.1.0&request=GetMap&layers=accesibilidad_espacial%3ACLUES_BASE&bbox=-99.9195785522461%2C19.03080177307129%2C-99.39337158203125%2C19.54203224182129&width=768&height=746&srs=EPSG%3A4326&styles=&format=application/openlayers" target="_blank">WMS</a>
                    <a class="button is-info is-outlined" href="http://localhost:8080/geoserver/accesibilidad_espacial/wfs?service=WFS&version=1.0.0&request=GetFeature&typeName=accesibilidad_espacial:CLUES_BASE&outputFormat=application/json" target="_blank">GeoJSON</a>
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="article-wrapper">
                <figure class="has-text-centered">
                    <img src="{{ url_for('static', filename='images/destination.png')}}" width="220" height="220" />
                </figure>
                <div class="article-body">
                    <h2 class="has-text-primary is-size-4">AGEBS - Centroides (ADLM)</h2>
                    <div style="text-align:justify;">
                        <p><span class="has-text-success">Categoría: </span>Análisis Espacial</p>
                        <p><span class="has-text-success">Idioma: </span>Español</p>
                        <p><span class="has-text-success">Estado: </span>Completo</p>
                        <p><span class="has-text-success">Representación: </span>Vectorial</p>
                        <p><span class="has-text-success">Restricciones legales: </span>Datos de acceso público</p>
                        <p><span class="has-text-success">EPSG: </span>4326</p>
                        <p><span class="has-text-success">Fecha de publicación: </span>01/12/2023</p>
                    <p><span class="has-text-success">Palabras clave: </span>AGEBS, Área Geoestadística Básica, ZMT, Toluca</p>
                    <hr>
                    <a class="button is-info is-inverted is-outlined" href="http://localhost:8080/geoserver/accesibilidad_espacial/wms?service=WMS&version=1.1.0&request=GetMap&layers=accesibilidad_espacial%3ALZMT_Puntos&bbox=-99.9195785522461%2C19.03080177307129%2C-99.39337158203125%2C19.54203224182129&width=768&height=746&srs=EPSG%3A4326&styles=&format=application/openlayers" target="_blank">WMS</a>
                    <a class="button is-info is-outlined" href="http://localhost:8080/geoserver/accesibilidad_espacial/wfs?service=WFS&version=1.0.0&request=GetFeature&typeName=accesibilidad_espacial:LZMT_Puntos&outputFormat=application/json" target="_blank">GeoJSON</a>
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="article-wrapper">
                <figure class="has-text-centered">
                    <img src="{{ url_for('static', filename='images/destination.png')}}" width="220" height="220" />
                </figure>
                <div class="article-body">
                    <h2 class="has-text-primary is-size-4">AGEBS - Centroides evaluados (ADLM)</h2>
                    <div style="text-align:justify;">
                        <p><span class="has-text-success">Categoría: </span>Análisis Espacial</p>
                        <p><span class="has-text-success">Idioma: </span>Español</p>
                        <p><span class="has-text-success">Estado: </span>Completo</p>
                        <p><span class="has-text-success">Representación: </span>Vectorial</p>
                        <p><span class="has-text-success">Restricciones legales: </span>Datos de acceso público</p>
                        <p><span class="has-text-success">EPSG: </span>4326</p>
                        <p><span class="has-text-success">Fecha de publicación: </span>01/12/2023</p>
                    <p><span class="has-text-success">Palabras clave: </span>AGEBS, Área Geoestadística Básica, ZMT, Toluca</p>
                    <hr>
                    <a class="button is-info is-inverted is-outlined" href="http://localhost:8080/geoserver/accesibilidad_espacial/wms?service=WMS&version=1.1.0&request=GetMap&layers=accesibilidad_espacial%3ALZMT_PUNTOS_VMC_EJ2&bbox=-99.9195785522461%2C19.03080177307129%2C-99.39337158203125%2C19.54203224182129&width=768&height=746&srs=EPSG%3A4326&styles=&format=application/openlayers" target="_blank">WMS</a>
                    <a class="button is-info is-outlined" href="http://localhost:8080/geoserver/accesibilidad_espacial/wfs?service=WFS&version=1.0.0&request=GetFeature&typeName=accesibilidad_espacial:LZMT_PUNTOS_VMC_EJ2&outputFormat=application/json" target="_blank">GeoJSON</a>
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="article-wrapper">
                <figure class="has-text-centered">
                    <img src="{{ url_for('static', filename='images/destination.png')}}" width="220" height="220" />
                </figure>
                <div class="article-body">
                    <h2 class="has-text-primary is-size-4">AGEBS - Centroides descartados (ADLM)</h2>
                    <div style="text-align:justify;">
                        <p><span class="has-text-success">Categoría: </span>Análisis Espacial</p>
                        <p><span class="has-text-success">Idioma: </span>Español</p>
                        <p><span class="has-text-success">Estado: </span>Completo</p>
                        <p><span class="has-text-success">Representación: </span>Vectorial</p>
                        <p><span class="has-text-success">Restricciones legales: </span>Datos de acceso público</p>
                        <p><span class="has-text-success">EPSG: </span>4326</p>
                        <p><span class="has-text-success">Fecha de publicación: </span>01/12/2023</p>
                    <p><span class="has-text-success">Palabras clave: </span>AGEBS, Área Geoestadística Básica, ZMT, Toluca</p>
                    <hr>
                    <a class="button is-info is-inverted is-outlined" href="http://localhost:8080/geoserver/accesibilidad_espacial/wms?service=WMS&version=1.1.0&request=GetMap&layers=accesibilidad_espacial%3ALZMT_PUNTOS_VMenC_EJ2&bbox=-99.9195785522461%2C19.03080177307129%2C-99.39337158203125%2C19.54203224182129&width=768&height=746&srs=EPSG%3A4326&styles=&format=application/openlayers" target="_blank">WMS</a>
                    <a class="button is-info is-outlined" href="http://localhost:8080/geoserver/accesibilidad_espacial/wfs?service=WFS&version=1.0.0&request=GetFeature&typeName=accesibilidad_espacial:LZMT_PUNTOS_VMenC_EJ2&outputFormat=application/json" target="_blank">GeoJSON</a>
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="article-wrapper">
                <figure class="has-text-centered">
                    <img src="{{ url_for('static', filename='images/polygon.png')}}" width="220" height="220" />
                </figure>
                <div class="article-body">
                    <h2 class="has-text-primary is-size-4">AGEBS evaluados (ADLO)</h2>
                    <div style="text-align:justify;">
                        <p><span class="has-text-success">Categoría: </span>Análisis Espacial</p>
                        <p><span class="has-text-success">Idioma: </span>Español</p>
                        <p><span class="has-text-success">Estado: </span>Completo</p>
                        <p><span class="has-text-success">Representación: </span>Vectorial</p>
                        <p><span class="has-text-success">Restricciones legales: </span>Datos de acceso público</p>
                        <p><span class="has-text-success">EPSG: </span>4326</p>
                        <p><span class="has-text-success">Fecha de publicación: </span>01/12/2023</p>
                    <p><span class="has-text-success">Palabras clave: </span>AGEBS, Área Geoestadística Básica, ZMT, Toluca</p>
                    <hr>
                    <a class="button is-info is-inverted is-outlined" href="http://localhost:8080/geoserver/accesibilidad_espacial/wms?service=WMS&version=1.1.0&request=GetMap&layers=accesibilidad_espacial%3ALZMT_POLIGONOS_VMC_RD1&bbox=-99.9195785522461%2C19.03080177307129%2C-99.39337158203125%2C19.54203224182129&width=768&height=746&srs=EPSG%3A4326&styles=&format=application/openlayers" target="_blank">WMS</a>
                    <a class="button is-info is-outlined" href="http://localhost:8080/geoserver/accesibilidad_espacial/wfs?service=WFS&version=1.0.0&request=GetFeature&typeName=accesibilidad_espacial:LZMT_POLIGONOS_VMC_RD1&outputFormat=application/json" target="_blank">GeoJSON</a>
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="article-wrapper">
                <figure class="has-text-centered">
                    <img src="{{ url_for('static', filename='images/polygon.png')}}" width="220" height="220" />
                </figure>
                <div class="article-body">
                    <h2 class="has-text-primary is-size-4">AGEBS descartados (ADLO)</h2>
                    <div style="text-align:justify;">
                        <p><span class="has-text-success">Categoría: </span>Análisis Espacial</p>
                        <p><span class="has-text-success">Idioma: </span>Español</p>
                        <p><span class="has-text-success">Estado: </span>Completo</p>
                        <p><span class="has-text-success">Representación: </span>Vectorial</p>
                        <p><span class="has-text-success">Restricciones legales: </span>Datos de acceso público</p>
                        <p><span class="has-text-success">EPSG: </span>4326</p>
                        <p><span class="has-text-success">Fecha de publicación: </span>01/12/2023</p>
                    <p><span class="has-text-success">Palabras clave: </span>AGEBS, Área Geoestadística Básica, ZMT, Toluca</p>
                    <hr>
                    <a class="button is-info is-inverted is-outlined" href="http://localhost:8080/geoserver/accesibilidad_espacial/wms?service=WMS&version=1.1.0&request=GetMap&layers=accesibilidad_espacial%3ALZMT_POLIGONOS_VMenC_RD1&bbox=-99.9195785522461%2C19.03080177307129%2C-99.39337158203125%2C19.54203224182129&width=768&height=746&srs=EPSG%3A4326&styles=&format=application/openlayers" target="_blank">WMS</a>
                    <a class="button is-info is-outlined" href="http://localhost:8080/geoserver/accesibilidad_espacial/wfs?service=WFS&version=1.0.0&request=GetFeature&typeName=accesibilidad_espacial:LZMT_POLIGONOS_VMenC_RD1&outputFormat=application/json" target="_blank">GeoJSON</a>
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="article-wrapper">
                <figure class="has-text-centered">
                    <img src="{{ url_for('static', filename='images/destination.png')}}" width="220" height="220" />
                </figure>
                <div class="article-body">
                    <h2 class="has-text-primary is-size-4">CLUES (ADLO)</h2>
                    <div style="text-align:justify;">
                        <p><span class="has-text-success">Categoría: </span>Análisis Espacial</p>
                        <p><span class="has-text-success">Idioma: </span>Español</p>
                        <p><span class="has-text-success">Estado: </span>Completo</p>
                        <p><span class="has-text-success">Representación: </span>Vectorial</p>
                        <p><span class="has-text-success">Restricciones legales: </span>Datos de acceso público</p>
                        <p><span class="has-text-success">EPSG: </span>4326</p>
                        <p><span class="has-text-success">Fecha de publicación: </span>01/12/2023</p>
                    <p><span class="has-text-success">Palabras clave: </span>CLUES, Unidades médicas, Servicios de salud</p>
                    <hr>
                    <a class="button is-info is-inverted is-outlined" href="http://localhost:8080/geoserver/accesibilidad_espacial/wms?service=WMS&version=1.1.0&request=GetMap&layers=accesibilidad_espacial%3ACLUES_RD1&bbox=-99.9195785522461%2C19.03080177307129%2C-99.39337158203125%2C19.54203224182129&width=768&height=746&srs=EPSG%3A4326&styles=&format=application/openlayers" target="_blank">WMS</a>
                    <a class="button is-info is-outlined" href="http://localhost:8080/geoserver/accesibilidad_espacial/wfs?service=WFS&version=1.0.0&request=GetFeature&typeName=accesibilidad_espacial:CLUES_RD1&outputFormat=application/json" target="_blank">GeoJSON</a>
                    </div>
                </div>
            </div>
        </article>
    </section>
</div>
{% endblock %}