{% extends 'base.html' %}
{% block content %}
<div class="iframe-container">
    <h1 class="is-size-2 has-text-primary has-text-centered">
        Instituto Nacional de Estadística y Geografía
    </h1>
    <iframe src="https://www.inegi.org.mx/"></iframe>
    <h1 class="is-size-2 has-text-primary has-text-centered">
        Secretaría de Salud del Estado de México
    </h1>
    <iframe src="https://salud.edomex.gob.mx/"></iframe>
    <h1 class="is-size-2 has-text-primary has-text-centered">
        Directorio Estadístico Nacional de Unidades Económicas
    </h1>
    <iframe src="https://www.inegi.org.mx/app/mapa/denue/default.aspx"></iframe>
</div>
{% endblock %}