{% extends 'base.html' %}
{% block content %}
<div class="head has-text-centered">
  <h1 class="is-size-2 has-text-info-light">
    <i class="fas fa-map-marked-alt"></i>&nbsp;&nbsp;&nbsp;Unidades Médicas en la Zona Metropolitana de Toluca
  </h1>
  <b class="has-text-centered has-text-primary">
    Análisis espacial de los servicios de salud en la ZMT aplicando los Modelos de Interacción Espacial
  </b>
  <div class="section">
    <div class="container has-text-centered">
      <p class="has-text-white" style="text-align: justify;">Bienvenido a nuestro portal Geoweb dedicado a la salud en la Zona Metropolitana de Toluca. En este espacio, te ofrecemos una experiencia interactiva que integra información geoespacial para proporcionar una visión completa de los Centros de Salud (CLUES) y las Áreas Geoestadísticas Básicas (AGEBs) En nuestro portal, podrás explorar la ubicación precisa de cada CLUES, identificando su distribución geográfica y la densidad de servicios de salud en la región. Además, hemos representado las AGEBS con polígonos y puntos, brindándote una visualización detallada de las áreas y su conexión con los servicios de salud.</p><br>
      <p class="has-text-white" style="text-align: justify;">Lo más destacado de nuestro portal es el análisis espacial que hemos integrado. Utilizando modelos de interacción espacial con restricciones en el origen y destino, hemos evaluado la accesibilidad de los servicios de salud para la población adulta mayor (65 años y más).</p><br>
      <p class="has-text-white" style="text-align: justify;">Nuestro portal Geoweb no solo proporciona información geoespacial detallada, sino que también integra análisis espaciales avanzados para mejorar la toma de decisiones en el ámbito de la salud.</p><br>
      <a class="button is-info is-inverted is-outlined" href="{{ url_for('map.map')}}"><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp;¡Explora, analiza y descubre la salud de Toluca desde una perspectiva geográfica!</a>
    </div>
  </div>
</div>


{% endblock %}